#aboutUsWrapper{
	margin-bottom: 5em;
}

#aboutUsWrapper .section-wrapper{
	max-width: 1100px;
}

#aboutUsWrapper .section-wrapper h1{
	font-size: 2.3em;
	font-weight: 300;
	line-height: 1.25em;
	margin-bottom: 0.4em;
}

#aboutUsWrapper .section-wrapper > p,
#aboutUsWrapper .section-wrapper .subtitle{
	font-size: 1.6em;
	line-height: 1.7em;
	margin-bottom: 0.8em;
	max-width: 800px;
	font-weight: 100;
}

.section-text h2{
	font-size: 2.5em;
	font-weight: normal;
	margin-bottom: 0.3em;
}

.section-text p{
	font-size: 1.7em;
	line-height: 1.75em;
	margin-bottom: 0.8em;
}

#sectionBanner{
	padding-top: 5em;
	padding-bottom: 5em;
}

#sectionMissionVision{
	padding: 5em 0;
	background: #0e2e45;
	color: #fff;
	background: rgb(14,46,69);
	background: linear-gradient(135deg, rgba(0,0,85,1) 31%, rgba(87,15,21,1) 60%, rgba(124,21,29,1) 84%);
}

#sectionMissionVision:after{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

#sectionMissionVision:after{
	background-image: url(../img/ptn2.png);
	background-size: 60px;
}

#sectionMissionVision .section-wrapper > .layout > div{
	margin-bottom: 3em;
	padding: 2em;
	border-radius: 12px;
	max-width: 800px;
	border: 1px solid #b0d7e4;;
	border-color: #ffdee1;
}

#sectionMissionVision h1{
	font-size: 1.4em !important;
	text-transform: uppercase;
	letter-spacing: 0.05em;
}

#sectionMissionVision .subtitle{
	color: #b0d7e4;
	color: #ffdee1;
}

#sectionMission{
	padding-top: 5em;
	padding-bottom: 4.5em;
	background: #f5f5ff;
}

#whyUs{
	padding: 5em 0;
	background: #2a2739;
	color: #fff;
}

#whyUs ul{
	padding-left: 25px;
}

#whyUs li{
	position: relative;
	font-size: 1.6em;
	line-height: 1.7em;
	margin-bottom: 1.1em;
	max-width: 800px;
	font-weight: 100;
	padding-left: 15px;
	list-style-type: circle;
}

#secretariet{
	border-top: 1px solid #ddd;
	padding-top: 5em;
	padding-bottom: 1em;
}

#secretarietCoodinator{
	padding: 1.2em 1em;
	border-radius: 8px;
	border: 1px solid #ddd;
	min-width: 500px;
}

#secretariet .image{
	flex-shrink: 0;
	border-radius: 50%;
	overflow: hidden;
	margin-right: 1.3em;
}

#secretariet .image img{
	width: 85px;
	height: 85px;
	object-fit: cover;
	object-position: center;
}

#secretariet h2{
	font-weight: 300;
	font-size: 1.6em;
	margin-bottom: 0.3em;
}

#secretariet h3{
	font-family: "Roboto", sans-serif;
	font-weight: 300;
	font-size: 1.2em;
	letter-spacing: 0.02em;
	margin-bottom: 0.6em;
}

#secretariet small{
	font-size: 1.2em;
	font-weight: 300;
}

.people-section{
	margin-bottom: 5em;
}

.people-section .section-wrapper h1{
	font-size: 1.6em !important;
	text-transform: uppercase;
	padding-bottom: 0.5em;
	letter-spacing: 0.03em;
	border-bottom: 3px solid #eee;
}

.people-section .section-wrapper > .layout{
	margin: 0 -1em;
	margin-top: 3em;
}

.governing-person{
	width: 25%;
	padding: 0 1em;
	text-align: center;
	margin-bottom: 2em;
}

.governing-person .image{
	padding-bottom: 100%;
	margin-bottom: 1.6em;
	border-radius: 50%;
	overflow: hidden;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}

.governing-person .image img{
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: top;
}

.governing-person h3{
	font-size: 1.35em;
	font-weight: 300;
	margin-bottom: 0.5em;
	letter-spacing: 0.01em;
}

.governing-person strong{
	display: block;
	font-size: 1.1em;
	line-height: 1.4em;
	margin-bottom: 0.7em;
	font-weight: 300;
}

.governing-person small{
	font-size: 1em;
	letter-spacing: 0.015em;
	color: #333;
}

/*MEDIA QUERIES*/
@media screen and (min-width: 521px){
    
}

@media screen and (max-width: 520px){
    
}