body {
	
}

#aboutUsWrapper{
	margin-bottom: 5em;
}

#aboutUsWrapper .section-wrapper{
	max-width: 1000px;
}

#aboutUsWrapper .section-wrapper > h1{
	font-size: 2.3em;
	line-height: 1.25em;
	margin-top: 2.5em;
	margin-bottom: 0.2em;
	text-transform: uppercase;
}

#aboutUsWrapper .section-wrapper > p{
	font-size: 2.5em;
	line-height: 1.7em;
	margin-bottom: 0.8em;
	max-width: 1000px;
	font-weight: 100;
	/* margin-top: 3em; */
}

.section-text h2{
	font-size: 2.3em;
	margin-bottom: 0.3em;
}

.section-text p{
	font-size: 1.7em;
	line-height: 1.75em;
	margin-bottom: 0.8em;
	font-weight: 100;
}

#sectionDevelopment{
	margin-top: 4.5em;
	margin-bottom: 2.2em;
}

#sectionDevelopment .section-text{
	max-width: 700px;
}

#sectionDevelopment .section-text p a{
	font-weight: 400;
	text-decoration: underline;
	color: #444;
	text-decoration-color: rgba(0, 0, 0, 0.5);
}

#sectionDevelopment .rounded-btn{
	margin-top: 0;
	font-size: 1.2em;
	letter-spacing: 0.08em;
	text-transform: uppercase;
	color: #000;
    border-color: #999;
}

#sectionDevelopment .rounded-btn:hover{
	background-color: rgba(0, 0, 0, 0.05);
}

#sectionBanner{
	padding-bottom: 3em;
}

#sectionInitiation{
	position: relative;
	background: #9dcbfd;
	overflow: hidden;
	margin-bottom: 4em;
}

#sectionInitiation .image{
	background-color: rgba(169, 118, 39, 0.3);
	position: absolute;
	top: -15%;
	left: 50%;
	right: -25%;
	padding-bottom: 75%;
	border-radius: 50%;
}

#sectionInitiation .image:before{
	content: '';
	background-image: url('../img/at-event.jpg');
	background-position: center 40%;
	background-size: 150%;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	filter: blur(10px)
}

#sectionInitiation .image img{
	position: absolute;
	top: -15%;
	bottom: -10%;
	right: -15%;
	margin: auto;
	z-index: 1;
}

#sectionInitiation .section-text{
	width: 60%;
	margin-left: -18%;
	padding-top: 4.5em;
	padding-bottom: 4.5em;
}

#sectionEfforts{
	/* margin-top: 2em; */
	margin-bottom: 12em;
}

#sectionEfforts .section-text{
	margin-left: -5%;
	padding-top: 5%;
	padding-right: 1.5em;
}

#sectionEfforts .images{
	width: 50%;
	flex-shrink: 0;
	position: relative;
	padding-left: 4em;
}

#sectionEfforts .image{
	position: absolute;
	width: 280px;
	height: 280px;
	border: 8px solid #eacf9d;
	border-radius: 50%;
}

#sectionEfforts .image:first-child{
	right: -25%;
	width: 420px;
	height: 420px;
}

#sectionEfforts .image:nth-child(2){
	left: 0;
	top: 20%;
}

#sectionEfforts .image:nth-child(3){
	left: 20%;
	bottom: -20%;
}

#sectionEfforts .image img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}

/*MEDIA QUERIES*/
@media screen and (min-width: 521px){
    
}

@media screen and (max-width: 520px){
    #sectionDevelopment {
		margin-top: 3em;
		margin-bottom: 0;
	}

	.section-text h2 {
		font-size: 1.7em;
		margin-bottom: 0.3em;
	}

	.section-text p {
		font-size: 1.5em;
		line-height: 1.75em;
		margin-bottom: 0.8em;
		font-weight: 100;
		line-height: 1.7em;
		margin-bottom: 1.5em;
	}

	#aboutUsWrapper .section-wrapper > p {
		font-size: 1.5em;
		margin-bottom: 0;
	}

	#aboutUsWrapper .section-wrapper > h1 {
		font-size: 1.7em;
		line-height: 1.25em;
		margin-top: 0.8em;
		margin-bottom: 0.1em;
		text-transform: none;
	}

	#sectionInitiation .section-text {
		width: 100%;
		margin-left: 0;
		padding-top: 2em;
		padding-bottom: 0.8em;
		padding-left: 0.5em;
		position: relative;
		z-index: 9;
	}

	#sectionInitiation .image {
		position: relative;
		left: 0;
		right: 0;
		height: 70vw;
		width: 70vw;
		padding-bottom: 0;
		margin-top: -30%;
	}

	#sectionInitiation .image:before {
		display: none;
	}

	#sectionInitiation .image img {
		position: absolute;
		top: 34%;
		bottom: auto;
		left: -41%;
		right: auto;
		width: 140%;
		height: 116%;
		margin: auto;
		z-index: 1;
		object-fit: cover;
		object-position: center;
	}

	#sectionEfforts{
		margin-top: -5em;
		margin-bottom: -3em;
	}

	#sectionEfforts .images {
		height: 400px;
		padding-left: 4em;
		transform: scale(0.7);
	}

	#sectionEfforts .image:nth-child(2),
	#sectionEfforts .image:nth-child(3) {
		right: 100%;
		left: auto;
	}
	
	#sectionEfforts .image:nth-child(3) {
		right: 70%;
	}

	#sectionEfforts .section-text {
		margin-left: 3%;
		margin-right: -56%;
		padding-top: 115%;
	}

	#sectionDevelopment, 
	#sectionBanner,
	#sectionInitiation{
		/* display: none; */
	}
}

@media screen and (max-width: 400px){
	#sectionEfforts .images {
		transform: scale(0.5) translate3d(-10%, -23%, 0);
	}
}