body {
	padding-top: 0;	
}

.section-title {
	font-weight: 700;
	font-size: 20px;
}

#banner{
	position: relative;
	/* background: rgb(0,0,85);
	background: linear-gradient(90deg, #000055 35%, #df0719 100%); */
	background: rgb(0,0,85);
	background: linear-gradient(90deg, #000055 35%, #df0719 100%);
	/* background: linear-gradient(135deg, rgba(0,0,85,1) 39%, rgba(124,21,29,1) 68%); */
	background: linear-gradient(135deg, rgba(0,0,85,1) 31%, rgba(87,15,21,1) 60%, rgba(124,21,29,1) 84%);

	/* #901620 */
}

#banner:before,
#banner:after{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

#banner:after{
	background-image: url(../img/ptn2.png);
	background-size: 60px;
}

#banner .text{
	padding-top: 10em;
	padding-bottom: 12em;
	z-index: 1;
	color: #fff;
}

#banner h2{
	font-size: 3.2em;
	max-width: 70%;
	margin-bottom: 0.2em;
}

#banner h2 strong{
	font-family: "Open Sans";
	font-size: 0.6em;
	font-weight: 100;
	margin-bottom: 0.2rem;
	display: block;
}

#sectionServices > .section-wrapper{
	margin-top: -8em;
	margin-bottom: 4em;
	max-width: 1200px;
}

#sectionServices > .section-wrapper > .layout{
	margin: 0 -1em;
	padding: 0 2em;
}

.service-item{
	width: 33.333%;
	height: 400px;
	color: #fff;
	margin: 0 0.5em;
	position: relative;
	border-radius: 5px;
	overflow: hidden;
	box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.3);
}

.service-item img{
	background: #222;
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 5px;
}

.service-item .service-description{
	border-radius: 0 0 5px 5px;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	position: absolute;
	bottom: 0;
	top: 0;
	left: 0;
	right: 0;
	padding: 1.5em;
	background: rgba(51, 51, 51, 0.3);
	background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.1) 30%, rgba(0, 0, 0, 0.7) 50%, rgba(0, 0, 0, 0.9) 95%);
}

.service-item:first-child .service-description{
	background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.1) 30%, rgba(111, 85, 55, 0.7) 50%, rgb(111, 85, 55) 95%);
}

.service-item:nth-child(2):hover .service-description{
	/* background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.3) 50%, rgba(50, 82, 56, 0.71) 70%, rgba(50, 82, 56, 1) 95%); */
}

.service-item:nth-child(3) .service-description{
	background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.1) 30%, rgba(88, 83, 64, 0.71) 50%, rgb(88, 83, 64) 95%);
}

.service-item h3{
	font-family: 'Open Sans';
	font-weight: 100;
	font-size: 3.2em;
	color: #f0f0f0;
}

.service-item p{
	font-size: 1.2em;
	line-height: 1.35em;
	color: #ddd;
	margin-top: 0.3em;
}

#aboutSection .section-wrapper{
	margin-top: 6em;
	margin-bottom: 2em;
	max-width: 900px;
}

#aboutSection p{
	color: #252525;
	font-weight: 100;
	font-size: 2.3em;
	line-height: 1.5em;
	text-align: center;
}

#aboutSection p strong{
	font-weight: normal;
	color: #000;
}

#fleetSection{
	padding-top: 4em;
	padding-bottom: 4em;
	/* background: #fff; */
	color: #252535;
}

#fleetSection h2{
	font-size: 2.8em;
	line-height: 1.5em;
	text-align: center;
	margin-bottom: 0.5em;
}

#fleetSection .section-wrapper{
	/* max-width: 1300px; */
	/* max-width: 100vw; */
	/* padding: 0; */
}

#fleetSection .section-wrapper > div{
	width: 50%;
	/* width: 25%; */
	padding: 2em 1.5em;
}

.fleet-item{
	position: relative;
	overflow: hidden;
	background: #000;
	color: #fff;
	padding: 1.5em;
	/* padding: 2em; */
	border-radius: 5px;
	overflow: hidden;
	height: 340px;
	display: flex;
	align-items: flex-end;
	justify-content: center;
	text-align: center;
	/* box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); */
	/* box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1); */
	background-size: cover;
	background-image: url('https://amazondrilling.com/assets/images/fleets/atlas.jpg');
	transition: all 0.25s ease-out;
}

.fleet-item:hover{
	box-shadow: 2px 2px 25px rgba(0, 0, 0, 0.5);
	transform: translateY(-4%);
}

.fleet-item:before{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0, 0, 0, 0.8);
	background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.3) 50%, rgba(0, 0, 0, 0.7) 70%, rgba(0, 0, 0, 0.9) 95%);
}

#fleetSection .section-wrapper > div:nth-of-type(2) .fleet-item{
	background-image: url('https://amazondrilling.com/assets/images/fleets/srd.jpg');
}

#fleetSection .section-wrapper > div:nth-of-type(3) .fleet-item{
	background-image: url('https://amazondrilling.com/assets/images/fleets/landcruiser.jpg');
}

#fleetSection .section-wrapper > div:nth-of-type(4) .fleet-item{
	background-image: url('https://amazondrilling.com/assets/images/fleets/atlas-copco.jpg');
}

.fleet-item h3{
	/* font-family: "Open Sans"; */
	font-weight: 100;
	font-size: 2em;
	margin-bottom: 1rem;
}

.fleet-item p{
	display: none;
	/* font-family: "Open Sans"; */
	font-weight: 100;
	font-size: 1.25em;
	line-height: 1.8em;
}

#lightRedBgWrapper{
	position: relative;
}

#lightRedBgWrapper:before{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: -16em;
	z-index: -1;
	background: linear-gradient(180deg, rgb(245, 236, 236) 45%, rgba(255,255,255,1) 98%);
}

header{
	/* display: none; */
}

#banner{
	/* margin-top: -48em; */
}

main{
	/* background: #fffafa; */
	margin-bottom: 0;
}

footer{
	margin-top: 0;
	/* border-top: none; */
}

/*MEDIA QUERIES*/
@media screen and (min-width: 521px){
    
}

@media screen and (max-width: 520px){
    
}