body {
	padding-top: 0;	
}

.section-title {
	font-weight: 700;
	font-size: 20px;
}

#banner{
	position: relative;
	/* background: rgb(0,0,85);
	background: linear-gradient(90deg, #000055 35%, #df0719 100%); */
	background: rgb(0,0,85);
	background: linear-gradient(90deg, #000055 35%, #df0719 100%);
	/* background: linear-gradient(135deg, rgba(0,0,85,1) 39%, rgba(124,21,29,1) 68%); */
	background: linear-gradient(135deg, rgba(0,0,85,1) 31%, rgba(87,15,21,1) 60%, rgba(124,21,29,1) 84%);

	/* #901620 */
}

#banner:before,
#banner:after{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

#banner:after{
	background-image: url(../img/ptn2.png);
	background-size: 60px;
}

#banner .text{
	padding-top: 10em;
	padding-bottom: 12em;
	z-index: 1;
	color: #fff;
}

#banner h2{
	font-size: 3.2em;
	max-width: 70%;
	margin-bottom: 0.2em;
}

#banner h2 strong{
	font-family: "Open Sans";
	font-size: 0.6em;
	font-weight: 100;
	margin-bottom: 0.2rem;
	display: block;
}

#sectionServices > .section-wrapper{
	margin-top: -8em;
	margin-bottom: 4em;
	max-width: 1200px;
}

#sectionServices > .section-wrapper > .layout{
	margin: 0 -1em;
	padding: 0 2em;
}

.service-item{
	width: 33.333%;
	height: 400px;
	color: #fff;
	margin: 0 0.5em;
	position: relative;
	border-radius: 5px;
	overflow: hidden;
	box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.3);
}

.service-item img{
	background: #222;
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 5px;
}

.service-item .service-description{
	border-radius: 0 0 5px 5px;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	position: absolute;
	bottom: 0;
	top: 0;
	left: 0;
	right: 0;
	padding: 1.5em;
	background: rgba(51, 51, 51, 0.3);
	background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.1) 30%, rgba(0, 0, 0, 0.7) 50%, rgba(0, 0, 0, 0.9) 95%);
}

.service-item:first-child .service-description{
	background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.1) 30%, rgba(111, 85, 55, 0.7) 50%, rgb(111, 85, 55) 95%);
}

.service-item:nth-child(2):hover .service-description{
	/* background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.3) 50%, rgba(50, 82, 56, 0.71) 70%, rgba(50, 82, 56, 1) 95%); */
}

.service-item:nth-child(3) .service-description{
	background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.1) 30%, rgba(88, 83, 64, 0.71) 50%, rgb(88, 83, 64) 95%);
}

.service-item h3{
	font-family: 'Open Sans';
	font-weight: 100;
	font-size: 3.2em;
	color: #f0f0f0;
}

.service-item p{
	font-size: 1.2em;
	line-height: 1.35em;
	color: #ddd;
	margin-top: 0.3em;
}

section h2{
	font-size: 2.8em;
	margin-bottom: 1em;
}

#advantagesSection{
	margin-top: 7.5em;
}

#advantagesSection .section-wrapper{
	max-width: 1200px;
}

#advantagesSection .section-wrapper > *{
	padding: 0 0.6em;
}

#advantagesSection h2{
	text-align: center;
	color: #02023b;
	margin-bottom: 1.5em;
}

#advantagesSection .section-wrapper > div{
	margin-top: 0.5em;
}

.advantage-item{
	width: calc(50% - 2em);
    margin-bottom: 5em;
    /* padding: 0.5em 1.5em; */
}

.advantage-item .icon{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 60px;
	height: 60px;
	border-radius: 50%;
	background: #883f46;
	color: #fff;
	background: #da9ca1;
	color: #6b373b;
	margin-right: 2em;
	flex-shrink: 0;
}

.advantage-item .icon svg{
	width: 24px;
	height: 24px;
}

.advantage-item h3{
	font-weight: normal;
	font-family: "Open Sans", sans-serif;
	padding-top: 0.1em;
	color: #444454;
	color: #6b373b;
	text-transform: capitalize;
	font-size: 1.8rem;
	margin-bottom: 0.8rem;
}

.advantage-item p{
	font-family: "Open Sans";
	font-weight: normal;
	font-size: 1.2rem;
	line-height: 1.8em;
	color: #555;
	color: #5c4c4d;
}

#aboutSection .section-wrapper{
	margin-top: 6em;
	margin-bottom: 2em;
	max-width: 900px;
}

#aboutSection p{
	color: #252525;
	font-weight: 100;
	font-size: 2.3em;
	line-height: 1.5em;
	text-align: center;
}

#aboutSection p strong{
	font-weight: normal;
	color: #000;
}

#banner{
	/* margin-top: -130vh; */
}

#cta{
	margin-top: 1.5em;
	margin-bottom: 6.5em;
}

#cta .section-wrapper{
	/* max-width: 1300px; */
}

#cta .image{
	background: linear-gradient(135deg, rgba(0,0,85,1) 31%, rgba(87,15,21,1) 60%, rgba(124,21,29,1) 84%);
	/* background: rgb(52, 52, 126); */
}

#cta img{
	height: 450px;
	width: 100%;
	object-fit: cover;
	object-position: center;
	/* mix-blend-mode: multiply; */
	opacity: 0.4;
}

#fleetSection{
	/* border-top: 1px solid #ddd; */
	/* margin-top: 1.5em; */
    /* padding-top: 5.5em; */
    padding-bottom: 4em;
    /* color: #252535; */
	/* background-color: #252531; */
}

#fleetSection h2{
	text-align: center;
	/* color: #fcfcfc; */
	margin-bottom: 0.5em;
}

#fleetSection > p{
	font-size: 1.4em;
	line-height: 1.6em;
    /* font-weight: 300; */
    max-width: 800px;
    text-align: center;
    color: #4b4949;
    margin: auto;
    margin-bottom: 1.5em;
}

#fleetSection .section-wrappe{
	/* max-width: 1300px; */
	/* max-width: 100vw; */
	/* padding: 0; */
	/* max-width: 100vw; */
	justify-content: center;
	padding-left: 6em;
	/* overflow-x: auto; */
}

#fleetScroller{
}

#fleetScroller > div{
	flex-shrink: 0;
	width: 43%;
	/* width: 25%; */
	padding: 1.5em 1em;
}

.fleet-item{
	display: flex;
	flex-direction: column;
	position: relative;
	background: #fff;
	overflow: hidden;
	text-align: center;
	border-radius: 3px;
}

.fleet-item .image{
	position: relative;
	height: 300px;
}

.fleet-item .image img{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
}

.fleet-text{
	padding: 1em;
}

.fleet-item h3{
	font-family: "Open Sans";
	font-weight: normal;
	font-size: 1.72em;
}

.fleet-item ul,
.fleet-item p + p{
	display: none;
}

.fleet-item p{
	font-weight: 100;
	font-size: 1.25em;
	line-height: 1.8em;
}

#lightRedBgWrapper{
	position: relative;
}

#lightRedBgWrapper:before{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	/* bottom: -3em; */
	height: 70%;
	z-index: -1;
	background: linear-gradient(180deg, rgb(245, 236, 236) 45%, rgba(255,255,255,1) 98%);
}

header{
	/* display: none; */
}

#sectionCta{
	background-size: cover;
	background-position: center bottom;
	background-image: url('https://amazondrilling.com/assets/images/services/social-responsibility.jpg');
}

#sectionCta .text{
	padding: 5em 0;
	background-color: rgba(26, 26, 69, 0.9);
	text-align: center;
}

#sectionCta h2{
	font-size: 3.3em;
	color: #fcfcfc;
	margin-bottom: 0.3em;
}

#sectionCta p{
	font-weight: 100;
	font-size: 2em;
	line-height: 1.6em;
    color: #f8e0e2;
}

#sectionCta p strong{
	color: #d9424e;
	font-weight: bold;
}

#banner{
	/* margin-top: -160vh; */
}

main{
	/* background: #fffafa; */
	margin-bottom: 0;
}

footer{
	margin-top: 0;
	/* border-top: none; */
}

/*MEDIA QUERIES*/
@media screen and (min-width: 521px){
    
}

@media screen and (max-width: 520px){
    
}